.about__map
  position relative
  z-index 5
  
  height 400px
  
.about__content
  position relative
  z-index 10
  
.about__content-description
  position absolute
  top 99.5px
  
  width 570px
  height 201px
  
  background-color white
  
.about__content-text
  font-family 'Arial', sans-serif
  color #7c7c7c
  