.features__cart
  position relative
  
  min-height 230px
  
.features__cart-content-wrap
  position relative
  z-index 5

.features__cart-icon-wrap
  position relative
  
  display flex
  justify-content center
  align-items center
  width 80px
  height 80px
  
  background-color green
  
.features__cart-icon
  display block
  &--sheet
    width 26px
    height 29px
    .sheet
      width 26px
      height 29px

      fill white
  &--cooking
    width 29px
    height 31px
    .cooking
      width 29px
      height 31px

      fill white
  &--knife
    width 23px
    height 30px
    .knife
      width 23px
      height 30px

      fill white
  &--time
    width 26px
    height 31px
    .time
      width 26px
      height 31px

      fill white
      
.features__cart-text
  font-family 'Arial', sans-serif
  color #7c7c7c
  
.features__cart-number
  position absolute
  top 0
  right 12px
  z-index 1
  
  height 230px
  margin auto
  
  font-size 281px
  line-height 211px
  color #f2f2f2