.footer-content
  padding 55px 0
  
  background-color grayLight
  
.footer-content__copyright-link
  position relative
  
  padding-right 50px
  
  font-family 'Arial', sans-serif
  color #7c7c7c
  &:hover
    .footer-content__copyright-link-academy-icon
      .academy
        fill green
  &:active
    opacity 0.3
  
.footer-content__copyright-link-academy-icon
  position absolute
  top 0
  right 0
  bottom 0
  
  width 27px
  height 34px
  margin auto
  .academy
    width 27px
    height 34px
    
    transition 0.2s ease