.logo__link
  width 202px
  height 59px
  
  transition 0.2s ease
  &:hover
    opacity 0.8
  &:active
    opacity 0.6
  &:focus
    outline 2px solid green
  &--footer
    width 128px
    height 24px