.options__cart
  box-sizing border-box
  padding-top 45px
  padding-left 50px
  padding-right 50px
  padding-bottom 60px
  
  background-color grayLight

.options__cart-icon-wrap
  position relative
  
  width 100px
  height 100px
  
  background-color green
  
  border-radius 50%
  
.options__cart-option-fitness-icon
  center-absolute()
  
  top -15px
  
  display block
  width 70px
  height 97px 
  .option-fitness
    width 70px
    height 97px
    
.options__cart-option-train-icon
  center-absolute()
  
  left -16px
  
  display block
  width 134px
  height 56px 
  .option-train
    width 134px
    height 56px
    
.options__cart-link
  display flex
  align-items center
  
  transition 0.2s ease
  &:active
    opacity 0.3
  &:focus
    outline 2px solid green
  
.options__cart-link-icon
  display block
  width 24px
  height 11px
  margin-left 25px
  
  font-size 0
  .option-arrow
    width 24px
    height 11px
    
.options__cart-text
  font-family 'Arial', sans-serif
  color #7c7c7c