.page-header
  padding-top 55px
  &--index
    max-width 1440px
    min-height 700px
    margin 0 auto
  
    background-image url('%=static=%content/header-bg.png')
    background-repeat no-repeat
    background-position top right
    background-size 879px 696px
    
.page-header__link
  transition 0.2s ease
  &:hover
    background-color #5eaa2f
  &:active
    color rgba(255, 255, 255, 0.3)