.socials__items
  margin-right 25px
  &:last-child
    margin-right 0

.socials__link
  &--vk
    width 30px
    height 16px
    .vk
      width 30px
      height 16px
  &--inst
    width 23px
    height 23px
    .inst
      width 23px
      height 23px
  &--fb
    width 14px
    height 28px
    .fb
      width 14px
      height 28px
  &--vk,
  &--inst,
  &--fb
    .vk,
    .inst,
    .fb
      transition 0.2s ease
      &:hover
        fill green