.b
  &--w575
    width 575px
  &--w570
    width 570px
  &--w485
    width 485px
  &--w480
    width 480px
  &--w440
    width 440px
  &--w325
    width 325px
  &--w250
    width 250px
  &--w245
    width 245px
  &--w235
    width 235px
  &--w165
    width 165px
  &--w160
    width 160px
  &--w80
    width 80px
  
  &--mw245
    min-width 245px
  
  &--fb895
    flex-basis 895px
  &--fb720
    flex-basis 720px