.button
  reset-button()
  
  box-sizing border-box
  display block
  width 100%
  padding-left 10px
  padding-right 10px
  
  text-align center
  &--fill-green
    background-color green
  &--fill-grayLight
    background-color grayLight
  
  &--p-tb15
    padding-top 15px
    padding-bottom 15px
  &--p-tb10
    padding-top 10px
    padding-bottom 10px