.button
  reset-button()
  
  box-sizing border-box
  display block
  width 100%
  
  text-align center
  &--fill-green
    background-color green
  &--fill-grayLight
    background-color grayLight
  
  &--p-tb15
    padding-top 15px
    padding-bottom 15px