.m
  &--t-a
    margin-top auto
  
  &--l-a
    margin-left auto
  &--l80
    margin-left 80px
  
  &--r80
    margin-right 80px
  &--r65
    margin-right 65px
  &--r40
    margin-right 40px
  &--r30
    margin-right 30px
  
  &--b-a
    margin-bottom auto
  &--b150
    margin-bottom 150px
  &--b85
    margin-bottom 85px
  &--b80
    margin-bottom 80px
  &--b75
    margin-bottom 75px
  &--b70
    margin-bottom 70px
  &--b65
    margin-bottom 65px
  &--b60
    margin-bottom 60px
  &--b50
    margin-bottom 50px
  &--b45
    margin-bottom 45px
  &--b40
    margin-bottom 40px
  &--b35
    margin-bottom 35px
  &--b30
    margin-bottom 30px
  &--b25
    margin-bottom 25px
  &--b20
    margin-bottom 20px
  &--b10
    margin-bottom 10px
  &--b5
    margin-bottom 5px