.text
  reset()
  
  text-decoration none
  &--white20
    font-size 20px
    line-height 23px
    color white
  &--white16
    font-size 16px
    line-height 19px
    color white
    
  &--black60
    font-size 60px
    line-height 63px
    color black
  &--black36
    font-size 36px
    line-height 39px
    color black
  &--black30
    font-size 30px
    line-height 33px
    color black
  &--black20
    font-size 20px
    line-height 23px
    color black
    
  &--grayDark16
    font-size 16px
    line-height 19px
    color grayDark
  &--grayDark14
    font-size 14px
    line-height 17px
    color grayDark
  
  &--fw700
    font-weight 700
  &--fw300
    font-weight 300
    
  &--center
    text-align center
  &--right
    text-align right
  
  &--uppercase
    text-transform uppercase
  
  &--lh30
    line-height 30px
  &--lh24
    line-height 24px